/* navbar css starts  */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

nav.topnav{
    width: 100%;
    height: auto;
    background-color: #ed072a;
    padding: 2%;
    position: sticky;
    
}

nav.topnav a{
    display: inline-block;
    margin-left: 12%;
    text-decoration: none;
    font-size: 18px;
    color: white;
}




/* navbar css ends */



.detail_movies{
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
}

#detaillist{
    text-align: center;
    font-size: 34px;
    padding: 35px;
    color: crimson;
}

.detail_movie{
    display: inline-block;
    width: 800px;
    height: 600px;
    box-shadow: 2px 2px 2px 3px #ebdbda;
    margin: 5%;
    padding: auto;
}
img{
    width: 300px;
    height: 300px;
}




/* footer css starts */
footer{
    margin-top: 4%;
    width: 100%;
    background-color: #ed072a;
    padding: 3%;
    text-align: center;
    color: #ebdbda;
}

/* footer css ends */