#title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    color: whitesmoke;
}

.movies{
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
}

#listm{
    text-align: center;
    font-size: 34px;
    padding: 35px;
    color: crimson;
}

.movie{
    display: inline-block;
    max-width: 300px;
    box-shadow: 5px 5px 5px 5px #ebdbda;
    margin: 5%;
}
.movie img{
    width: 300px;
    padding: 3%;
}




/* footer css starts */
footer{
    margin-top: 4%;
    width: 100%;
    background-color: #ed072a;
    padding: 3%;
    text-align: center;
    color: #ebdbda;
}

/* footer css ends */